/* src/styles/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bebebe;
}

.login-container form {
    width: auto;
    padding: 50px;
    background: rgb(255, 241, 241);
    box-shadow: 20 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
}

.error {
    color: red;
    margin-top: 10px;
}
